<!DOCTYPE html>
<html lang="pt_br">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_Instadev</title> 


    @switch (ViewData["Title"].ToString())
        {
            case "Feed":
                <link rel="stylesheet" href="~/css/Feed.css"/>
            break;

            case "Cadastro":
                <link rel="stylesheet" href="~/css/usuario.css"/>
            break;

            case "Login":
                <link rel="stylesheet" href="~/css/Loginstyle.css"/>
            break;

            case "PagPerfil":
                <link rel="stylesheet" href="~/css/perfil.css"/>
            break;
            
            case "Edicao":
                <link rel="stylesheet" href="~/css/editperfil.css"/>
            break;
        }
</head>
<body>
    @if(ViewData["Title"].ToString() != "Login" && ViewData["Title"].ToString() != "Cadastro"){
    <header>
        <div class="topo">
            <div class="menu">

                <a href="#">
                    <img class="logo" src="../images/logo_Instadev.png" alt="Logo do site InstaDev">
                </a>
                
                <form class="barra" action="#">
                    <input type="pesquisar" name="pesquisar" placeholder="Pesquisar">
                </form>
                
                <div class="icons">
                    <a href="#">
                        <img src="../images/home.png" alt="Botão Home">
                    </a>
                    <img src="../images/plane 1.png" alt="Botão Direct">
                    <img src="../images/compass 1.png" alt="Botão Histórico">
                    <img src="../images/coracao.png" alt="Botão Curtidas">
                    <div class="link-logout">    
                        <li><a asp-area="" asp-controller="Login" asp-action="Logout" title="Deslogar">Log out</a></li> 
                    </div>
                </div>
            </div>
        </div>
    </header>
    }

    @RenderBody()   

    @if(ViewData["Title"].ToString() != "Login" && ViewData["Title"].ToString() != "Cadastro"){
        <footer>
            <h2 class="rodape">© 2021 InstaDev do SENAI</h2>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
</body>
</html>