<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_Instadev</title> 
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="topo">
            <div class="menu">

                <a href="#">
                    <img class="logo" src="images/logo_Instadev.png" alt="Logo do site InstaDev">
                </a>
                
                <form class="barra" action="#">
                    <input type="pesquisar" name="pesquisar" placeholder="Pesquisar">
                </form>
                
                <div class="icons">
                    <a href="#">
                        <img src="images/home.png" alt="Botão Home">
                    </a>
                    <img src="images/plane 1.png" alt="Botão Direct">
                    <img src="images/compass 1.png" alt="Botão Histórico">
                    <img src="images/coracao.png" alt="Botão Curtidas">
                    <a href="#">
                        <img src="images/perfil.png" alt="Imagem do Perfil">
                    </a>
                </div>
            </div>    
        </div>
    </header>
            @RenderBody()

    <footer class="rodape">
        <h2>© 2021 InstaDev do SENAI</h2>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
