*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azul: #2686cc;
    --cordalinha:#CBCBCB;
    --corplaceholder:#AFAFAF;
    --corborda:#DCDCDC;
    --fundo:#FAFAFA;
   
}
body{
    background-color: #FAFAFA;
}
.btnlogin{
    font-size:14px;
    color:#909090;
    text-decoration:none;
    font-variant:none;
}
.topo{
    background-color:#FFF;
    width: 80%;
    height: 53px;
    border-bottom:2px solid #F1F1F1;
    margin-right:10%;
    margin-left:0;

}
.menu{
    width: 50%;
    height: 100%;
    margin-left: 0;
    margin-right:200px;
}

.barra input{
    text-align: center;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    background-color: #FAFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 14px;
}
.icons{
    height: 53px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section{
    height: 750px;    
}
.rodape{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#909090;
    margin-left: 830px;
    width: 100%;
    height: 80px;
    background-color: #FFF;
}