:root{
    --background: #FAFAFA;
    --backgroundbox: #FFFFFF;
    --corbotao: #2686CC;

    --mainfont: 14px;
    --subfont: 12px;
    --font: 'Segoe UI';
    --subtextocor: #909090;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI';
}

.banner{
    width: 100%;
    height: 800px;
    background-color: var(--background);
    margin: auto;
}

/*Container*/
.container{
    max-width: 900px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    display: flex;
    background-color: var(--backgroundbox);
    border: 1px solid #F1F1F1;
    /**background-color: darkblue;**/
}

/*Conteúdo*/
.aside_content{
    width: 25%;
    height: 100%;
    border-right: 1px solid #F1F1F1;
    /*background-color: purple;*/
}

.content{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
}

.content_perfil{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin-top: 1.5%;
}

.content_perfil p{
    font-size: 14px;
    font-weight: 600;
}

.content_perfil a{
    font-size: var(--subfont);
    color: var(--corbotao);
    text-decoration: none;
}

.content_perfil_foto{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 46%;
    margin-top: 2.5%;
}

.content_texto{
    margin-left: 3.5%;
}

.content_texto h2{
    font-size: 1.1em;
}

.content_texto a{
    color: var(--corbotao);
    text-decoration: none;
    font-size: var(--mainfont);
    font-weight: 600;
}
.caixa{
    width: 354px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #909090;
    margin-left: 20px;
}

.label{
    text-align: right;
}


.subtexto{
    color: var(--subtextocor);
    padding-left: 27.6%;
    margin-top: 1%;
}

.subtexto p{
    font-size: var(--subfont);
}
.titulo{
    font-weight: 600;
}

/* Botão */

.button {
    background-color: var(--corbotao);
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 66px;
    height: 30px;
    margin-right: 15.5%;
}

.button p{
    padding-top: 5px;
}

/*Contéudo aside*/
.editar_content{
    width: 70%;
    height: 10%;
    border-left: 2px solid black;
}
.editar_content p{
    font-size: var(--mainfont);
    font-weight: 600;
}

/* Centralização */
.flex-justify-align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
