@using Projeto_Instadev.Models

@{
    ViewData["Title"] = "Edicao";
}
    <main>
        <section class="banner flex-justify-align-center">
            <div class="container">
               
                <aside class="aside_content"> 
                    <div class="editar_content flex-justify-align-center">
                        <p>Editar Perfil</p>
                    </div>
                </aside>

                <div class="content">
                    <div class="content_perfil_foto">
                            <img src="../images/gabigordo 1.png" alt="Foto de perfil do usuário">
                            
                            <div class="content_texto">
                            <h2>Foto</h2>
                            <a href="#"><p>Alterar foto de perfil></p></a>
                            </div>
                    </div>
                    
                    <div class="content_perfil"> <!--Forms-->
                        <p>Nome</p><div class="content_texto"></div>
                        <div>
                            <form class="content">
                                <label for="name"></label><br>
                                <input class="caixa" type="text" name="Nome"><br>
                            </form>
                        </div>
                    </div>

                    <div class="content_perfil subtexto"> <!--Texto-->
                        <p>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é conhecido: seu nome completo, apelido ou nome comercial.</p>
                    </div>
                    <div class="content_perfil subtexto"> <!--Texto-->
                        <p>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</p>
                    </div>
                    
                    <div class="content_perfil"> <!--Forms-->
                        <p>Nome de Usuário</p><div class="content_texto"></div>
                        <div>
                            <form class="content">
                                <label for="username"></label><br>
                                <input class="caixa" type="text" name="UserName"><br>
                              </form>
                        </div>
                    </div>
                    
                    <div class="content_perfil  subtexto"> <!--Texto-->
                        <p>Na maioria dos casos, você poderá alterar seu nome de usuário novamente para nascimento_tr por mais 14 dias.</p>
                    </div>

                    <div class="content_perfil  subtexto"> <!--Texto-->
                        <p>Forneça suas informações pessoais, mesmo se a conta for usada para uma empresa, um animal de estimação ou outra coisa. Elas não farão parte do seu perfil público.</p>
                    </div>

                    <div class="content_perfil"> <!--Forms-->
                        <p>Email</p><div class="content_texto"></div>
                        <div>
                            <form class="content">
                                <label for="email"></label><br>
                                <input class="caixa" type="email" name="Email" placeholder="E-Mail"><br>
                              </form>
                        </div>
                    </div>
                    
                    <div class="content_perfil">
                        <div class="button">
                            <button id="Enviar" type="submit" name="Botao">Enviar</button>
                        </div>
                    <a asp-area="" asp-controller="Edicao" asp-action="Deletar" asp-route-id="IdUsuario">Desativar minha conta definitivamente</a>
                    </div>
                </div>
                }
            </div>
        </section>
    </main>