
@{
    ViewData["Title"] = "Home Page";
}
    <div class="conteiner">
        <div class="cadastro">
            <img src="images/logo_Instadev_Cadastro.png" alt="Logo">
            <h1>Cadastre-se para ver fotos e <br>vídeos dos seus amigos.</h1>
            <form action="#">
                <input type="email" name="email" placeholder="E-Mail"><br>
                <input type="text" name="nome_completo" placeholder="Nome Completo"><br>
                <input type="text" name="nome_usuario" placeholder="Nome do Usuário"><br>
                <input type="password" name="senha" placeholder="Senha"><br>
                <input type="submit" value="Cadastrar">
            </form>
            <h2>Ao se cadastrar, você concorda com nossos<br>Termos, Política de Dados e Política de Cookies.</h2>
        </div>

        <div class="conectar">
            <h2>Tem uma conta?</h2>
                <ul">
                    <li><a href="#">Conecte-se</a></li>
                </ul>
        </div>

        <p class="text_app">Obtenha o aplicativo.</p>
        
        <div class="apps">
            <img src="images/app_store 1.png" alt="logo app store">
            <img src="images/google_play 1.png" alt="logo google play">
        </div>
        
    </div>