@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:wght@700&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', cursive;
}


.info-perfil{
    position: absolute;
    width: 203px;
    height: 30px;
    left: 810px;
    top: 97px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    
    color: #000000;
}


.paralelas{
    display: inline-block;
    width: 49%;
    margin-top: 50px;
    margin-right: 0px;
}

.imagem{

    background-image: url("../img/thank-you\ 3.png");
    position: absolute;
    width: 152px;
    height: 154px;
    left: 555px;
    top: 90px;
}

.seguidores{
    position: absolute;
    width: 101px;
    height: 21px;
    left: 949px;
    top: 150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}   

.seguindo{
    position: absolute;
    width: 111px;
    height: 21px;
    left: 1090px;
    top: 150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.publicacoes{
position: absolute;
width: 99px;
height: 21px;
left: 810px;
top: 150px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}

.linha{
position: absolute;
width: 926.04px;
height: 0px;
left: 490px;
top: 278px;

border: 1px solid #DCDCDC;
}

.nome{
    position: absolute;
    width: 138px;
    height: 21px;
    left: 810px;
    top: 194px;
}

.quadrado_pub{
position: absolute;
width: 16px;
height: 14px;
left: 721px;
top: 300px;

background-image: url("../img/quadrado_pub.png");
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.quadrado_pub2{
position: absolute;
width: 138px;
height: 28px;
left: 750px;
top: 299px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;

color: #000000;

}



.foto1 {
    position: absolute;
    width: 430px;
    height: 404px;
    left: 487px;
    top: 365px;
    
    background-image: url("../img/foto1.png");
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
}

.foto2 {
position: absolute;
width: 65px;
height: 66px;
left: 954px;
top: 401px;

background-image: url("../img/foto2.png");
border-radius: 115.5px;
}

.nome2 {
position: absolute;
width: 111px;
height: 17px;
left: 1040px;
top: 417px;
}

.localizacao {
position: absolute;
width: 138px;
height: 21px;
left: 1040px;
top: 439px;
}

.coracao{
position: absolute;
width: 24px;
height: 21px;
left: 980px;
top: 480px;

background-image: url("../img/coracao.png");

}

.balao{
position: absolute;
width: 24px;
height: 21px;
left: 1030px;
top: 480px;
background-image: url("../img/balao.png");
}

.quantidade-curtidas{
position: absolute;
width: 114px;
height: 21px;
left: 980px;
top: 510px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
}
.pessoacomentario1{
position: absolute;
width: 114px;
height: 17px;
left: 956px;
top: 569px;
}

.pessoacomentario2{
    position: absolute;
    width: 114px;
    height: 17px;
    left: 956px;
    top: 600px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    
    color: #000000;
}
.pessoacomentario3{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 954px;
    top: 630px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    
    color: #000000;
}
.pessoacomentario4{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 954px;
    top: 665px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    
    color: #000000;
}
.pessoacomentario5{
position: absolute;
width: 81px;
height: 21px;
left: 954px;
top: 700px;

font-family: Segoe UI;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;

color: #000000;
}
.comentario1{
position: absolute;
width: 138px;
height: 21px;
left: 1042px;
top: 571px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #000000;
}
.comentario2{
    position: absolute;
    width: 235px;
    height: 17px;
    left: 1042px;
    top: 600px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    
    color: #000000;
}
.comentario3{
    position: absolute;
    width: 235px;
    height: 17px;
    left: 1042px;
    top: 630px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    
    color: #000000;
}

.comentario4{
    position: absolute;
    width: 235px;
    height: 17px;
    left: 1042px;
    top: 665px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    
    color: #000000;
}

.comentario5{
    position: absolute;
    width: 235px;
    height: 17px;
    left: 1042px;
    top: 700px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    
    color: #000000;
}
.vertodoscomentarios{
position: absolute;
width: 187px;
height: 21px;
left: 956px;
top: 732px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #909090;
}



.copyright{
    position: absolute;
    width: 235px;
    height: 17px;
    left: 802px;
    top: 1000px;
}