@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

:root{

    --background : #ffffff;
    --red: #ffffff;
    --blue: #b3b5b9;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var( --font);
    font-size: 16px;
    background-color: var( --background);
}
.topo{
    width: 100%;
    height: 5em;
    /*background-color: black*/
}
.content{
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
   /* background-color: burlywood */
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img{
    max-width: 21.18em;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    position: absolute;
    width: 78px;
    height: 27px;
    left: 487px;
    top: 11px;
    
    font-family: Billabong;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    
    color: #000000;
    
}
.menu a:hover{
    background-color: var(--red);
}

#menu-bars{
    display: none;
}
.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
   /* background-color: rgba(0, 0, 255, 0.377); */
    position: absolute;
    top: 0;
}
.banner-content{
    width: 80%;
    height: 100%;
   /* background-color: rgb(222, 184, 135, 0.356);*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
   /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 90px;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size:1.87em;
    text-transform:uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.barrapesquisa{
    position: absolute;
    width: 215px;
    height: 28px;
    left: 852px;
    top: 12px;

    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}
.home{
    position: absolute;
    left: 47.92%;
    right: 51.61%;
    top: 2.05%;
    bottom: 97.07%;
    
    background: #AFAFAF;
}
.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: black;
    transform: skewY(-3deg)
}
.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: white;
    text-align: justify
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}
.about-position img{
    max-width: 31.87em;
}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.575em; /*25,12px*/
    /* border-right:solid 1px #fff; */
}
.jogos-aovivo h2, .jogos-embreve h2{
    font-size: 1.2em;
    text-transform: uppercase;
}
.linha{
    
    height: 3em;
    border:solid 1px #fff;
}

.partida{
    width: 9.5em;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
}
.partida img{
    max-width: 1.8em; /*54px*/
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;

}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
.bg-noticias{
    width: 100%;
    height: auto;
    background-color: var(--black1);
}
.noticias{
    width: 73%;
    height: 90%;
    /* background-color: darkgray; */
}
.noticias h2, .proximos-jogos h2{
    color: #fff;
    margin: 0.5em 0;
    font-size: 2.1875em;
    text-transform: uppercase;
}
.proximos-jogos{
    width: 25%;
    height:auto;
}
.newscard{
    width: 100%;
    max-width: 15em;
    height: 23.125em;
    background: var(--gradient);
    color: #fff;
    margin-bottom: 1.5em;
    box-shadow: 0px 0px 15px rgb(59, 59, 59);
}
.noticias h3{
    padding: 0.5em;
    text-transform: uppercase;
}
.noticias p{
    padding: 0em 0.7em;
    /* text-align: justify; */
}
.wrap{
    flex-wrap: wrap;
}
.proximas-partidas{
    background: var(--gradient);
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
.game{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
}
.times{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.times div{
    display: flex;
    align-items: center;
}
.times p{
    font-size: 1.25em;
    font-family: 'Roboto';
}
.times > p{
    margin: 0 1em;
}
.times img{
    width: 2.5em;
}

@media screen and (max-width: 74.93em){

}

@media screen and (max-width: 47.93em){

}

@media screen and (max-width: 35.93em){
   
}