
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --azul: #2686cc;
    --cordalinha:#CBCBCB;
    --corplaceholder:#AFAFAF;
    --corborda:#DCDCDC;
    --fundo:#FAFAFA; 
    --roxo: #8134af;
    --rosa: #dd2a7b;
    --amarelo: #feda77;
    --laranja: #f58529;  
}

body{
    background-color: #FAFAFA;  
}

.topo{
    background-color:#FFF;
    width:100%;
    padding-left:8%;
    padding-right:8%;
    height:53px;  
    display:flex;
    justify-content:left;
    border-bottom:1px solid var(--corborda);
    
}

.menu{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
    height: 100%;
    margin-left:20%;
    margin-right:20%;
}

.barra input{
    text-align: center;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    background-color: #FAFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 14px;
    border:1px solid var(--cordalinha);
    margin-left:250px;
    margin-right:120px;
  
}
.barra input:hover{
    border:2px solid gray;
}
::-webkit-input-placeholder  {
     text-align:left; padding-left:15px;
}

.icons{
    height: 53px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color:gray;
}

.icons i{
    margin-right:30px;
    font-size:23px;
   
}

.fa-home:hover{
    color:var(--amarelo);
}
.fa-paper-plane:hover{
    color:var(--roxo);
}
.fa-compass:hover{
    color:var(--laranja);
}
.fa-heart:hover{
    color:var(--rosa);
}
.fa-door-open{
    color:var(--rosa);
}


.fa-door-open::after{
    content:"Sair";
    font-size: 14px;
    color:gray;
    font-weight:lighter;
    padding-left:5px;
}

.logo{
    width: auto;
    height: auto;
    
}

section{
    height:750px;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #FFF;
    border-top: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    margin-top: 5px;
    bottom: 0;
    position: fixed;
}
.rodape p{
    font-size: 16px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#757474;
    font-weight:bold;
}