@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

/*header*/
.topo{
    background-color:#FFF;
    width: 100%;
    height: 53px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.barra input{
    text-align: center;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    background-color: #FAFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 14px;
}
.icons{
    height: 53px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons img{
    width: auto;
    height: auto;
}
.logo{
    width: auto;
    height: auto;
}
.link-logout a{
    color: red;
    border-left: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
}

/*main*/
.container{
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
}

.infos-perfil{
    width:900px;
    height:200px;
    display:flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(214, 214, 214);
    background-color: #FAFAFA;
}

.foto-perfil{
    display:flex;
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top:25px;
}


.info{
    width: 200px;
    height: auto;
    display:flex;
    margin-left: 20px;
    margin-top: 25px;
    flex-direction: column;

}

.nome-links{
    display: flex;
}
.nome-links a{
    text-decoration: none;
}

.editar{
    font-size: 13px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    margin-left: 1em;
}

.info p{
    font-size:20px;
    font-weight:bold;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
}

.info h5{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.seguidores{
    width: 400px;
    margin-top:15px;
    display: flex;
}

.seguidores p{
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.usuario{
    width: 370px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.usuario a{
    margin: 0 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #2686CC;
}

.publicacoes{
    height: auto;
    margin: 70px auto;
}

.publicacoes h4{
    font-size: 16px;
    margin-top: -60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.publicacao{
    display:flex;
    width:900px;
    height:400px;
    margin-top:60px;
    border: 1px solid rgb(212, 211, 211);
    background-color: white;
}

.imagem img{
    width:400px;
    height:400px;
}

.info-publicacao{
    width: 500px;
    max-width: 500px;
    height: 80px;
    margin-left: 70px
}

.imagemperfilpublicacao img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: relative;
    top: 32px;
    right:25px;
}

.nomeelocalizacao{
    display:flex;
    flex-direction: column;
    margin-left: 57px;
}

.nomeelocalizacao p{
    margin-top:-15px;
    font-weight:bold;
    font-family:'Roboto', sans-serif; 
    font-size: 14px;
}

.icons-publicacao{
    display: flex;
    margin-left: -50px;
    margin-top:15px;
    
}

.icons-publicacao img{
    cursor:pointer;
    padding:5px;
    margin-left: 0;
    margin-top: 10px;
}

.curtidas{
    margin-top:15px;
    margin-left: -40px;
    
}

.curtidas p{
    font-size:13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comentarios{
    margin-top:0px
}

.comentarios-pessoas{
    display:flex;
}

.comentarios-pessoas a{
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    
}

.comentarios-pessoas a:hover{
    color: black;
    text-decoration: underline;
}

.comentarios-pessoas p{
    font-size: 13px;
    margin-left: 13px;
    font-family: 'Roboto', sans-serif;
    
}
   
.comentarios-pessoas img{
    margin-left:100px;
    cursor: pointer;
}

 .comentarios{
    width:690px;
    margin: 17px -45px;
 }
 
 .comentarios .excluir{
    font-size: 13px;
    padding-left: 50px;
    text-decoration: none;
    color: red;
    display: flex;
    justify-content: flex-end;
}
.comentarios .excluirComent{
    width: 12px;
    margin-left: 25px;
}

 .vercoment{
    width: 190px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #909090;
    text-decoration: none;
 }
 .vercoment p{
     margin-top: 150px;
 }

 /*footer*/
 .rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #FFF;
    border-top: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    margin-top: 5px;
    bottom: 0;
    position: fixed;
}
.rodape h2{
    font-size: 14px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#909090;
}